/* ########## GERAL ########## */

body {
    font-family: Verdana, Arial, 'Times New Roman', sans-serif;
    font-size: 0.8rem;
 }

 body .container {
    max-width: 1440px;
    margin: auto;
 }

 p {
    text-align: justify;
    line-height: 1.6;
    text-indent: 4em;
    color: rgb(90, 40, 0);
}

main .upper::first-letter {
    text-transform: uppercase;
    font-family: 'martelregular';
    color: rgb(90, 0, 0);
    font-size: 2rem;
    line-height: 1;
}

 hr {
    display: block;
    border-width: 3px;
    border-color: rgb(84, 41, 30);
}

hr:last-child {
    margin-top: 40px;
}

h2 {
     font-family: 'aclonicaregular';
     font-size: 1rem;
}

body a {
    color: rgb(0, 66, 148);
    font-weight: bold;
    text-decoration: none;
}

body a:hover {
    color: rgb(0, 99, 220);
    font-weight: bold;
    text-decoration: underline;
}

body .sites a {
    display: flex;
    justify-content: center;
    font-size: large;
    margin-bottom: 20px;
}

.resize {
    width: 90%;
}

@media screen and (min-width: 400px) {
    h2 {
        font-family: 'aclonicaregular';
        font-size: 1.3rem;
    }
}

 @media screen and (min-width: 650px) {
    main .upper::first-letter {
    font-size: 4rem;
    }
    h2 {
    font-size: 3rem;
    }
  body .sites a {
    font-size: x-large;
    }
}

/* ########## CABEÇALHO ##########  */

 header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(84, 41, 30);
    background-size: cover;
    padding-top: 20px;
}

header #tibia {
    width: 150px;
}

 header .menu ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

header .menu ul li {
    font-family: 'aclonicaregular';
    font-size: 1.5rem;
    margin-right: 5px;
    margin-top: 15px;
}

header .menu li:hover {
    transform: scale(1.3);
}

header .menu a {
    text-decoration: none;
    color: white;
}

@media screen and (min-width: 800px) {
    header .menu ul {
      display: grid;
      grid-template-columns: repeat(6, 0.75fr);
      grid-gap: 5%;
      align-items: center;
      justify-content: center;
  }
}

/* ########## CORPO ########## */

main {
    display: flex;
    flex-direction: column;
    background: rgb(255, 242, 219);
    background-size: cover;
    padding: 20px;
}

.floated {
    width: 250px;
    float: right;
    margin: 10px;
}

.monstros {
    width: 100px;
    padding: 10px;
}

main img {
    vertical-align: center;
    padding-top: 10px;
}

main h2 {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
    margin-right: 20px;
}

.icon {
    width: 50px;
    vertical-align: middle;
    transition: all .2s ease-in-out;
    margin-bottom: 5px;
}

.icon:hover {
    transform: scale(1.3);
}

/* Fazer com que APENAS as imagens com classe .mobile apareçam quando a resolução for muito baixa.*/

@media screen and (max-width: 349px) {
    .screenshots {
        display: none;
    }
    .icon {
        width: 35px;
    }
}

@media screen and (max-width: 549px) {
    .screenshots img:not(.mobile) {
        display: none;
    }
    .mobile {
        margin-left: -10px;
    }
    .icon {
        width: 40px;
    }
}

/* Fazer com que as imagens se encaixem no meio da tela, aumentar de tamanho, e duas delas, exclusivamente aumentar com escala menor para não fugir do tamanho do background. */

@media screen and (min-width: 550px) {
    .screenshots {
        display: grid;
        grid-template-columns: 1fr;
    }
    .screenshots img {
        align-self: center;
        justify-self: center;
        margin-bottom: 30px;
        transition: all .5s ease-in-out;
    }
    .monstros {
        width: 150px;
        padding: 10px;
    }
    .icon {
        width: 80px;  
    }
}

@media screen and (min-width: 700px) {
    .screenshots img:hover:not(.resize) {
        transform: scale(1.3);
    }
    .screenshots .resize:hover {
        transform: scale(1.1);
    }
}

@media screen and (min-width: 900px) {
    .screenshots img:hover:not(.resize) {
        transform: scale(1.9);
    }
}

/* ########## FORM ########## */

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formulario h2:nth-child(2) {
    margin-top: -1rem;
}

.button {
    margin-top: 1rem;
}

input {
    margin-bottom: .75rem;
}

@media screen and (min-width: 400px) {
    form, label {
        font-size: larger;
        width: 150px;
    }
}

/* ########## ANIMATION ########## */

.logo #tibia {
    margin-right: 0px;
    animation: animacao_logo;
    animation-duration: 3s;
}

.logo .sword {
    vertical-align: 0.5rem;
    margin-right: 20px;
    margin-left: 20px;
    animation: sword forwards;
    animation-duration: 3.3s;
    opacity: 0;
}

@keyframes animacao_logo {
    from {
        opacity: 0;
        transform: translateX(+200px)
    }
    75% {
        opacity: 0.5;
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes sword {
    75% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* ########## FOOTER ########## */

footer .links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: rgb(84, 41, 30);
    background-size: cover;
    padding: 20px;
}

footer i {
    padding: 15px 30px;
    font-size: 3rem;
    color: whitesmoke;
}

footer .links i:hover {
    background-color: rgba(0, 0, 0, .2);
}

footer .sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-color: black;
}

footer .sobre p {
    margin: 3px;
    color: whitesmoke;
    text-indent: 0;
}

@media screen and (min-width: 400px) {
    footer i {
        padding: 15px 45px;
    }
}
@media screen and (min-width: 750px) {
    footer i {
        padding: 15px 100px;
    }
}